<h2><%= article.escape("title") %></h2>
<h4>author: <a href="<%= "#/users/" + article.escape("author_id") %>"><%= user.escape("username") %></a>, submitted <%= jQuery.timeago(article.get("created_at")) %></h4>

<% if (article.escape("photo_url") !== "/photos/big/missing.png" ){ %>
	<img src="<%= article.escape("photo_url") %>"></img>
<% } %>

<div id="body-text">
	<%= article.get("body") %>
</div>

<i class="fa fa-tags"></i>
<%= article.escape("taglist") %>

<% if(window.currentUserId){ %>
  
    <% if (currentUser.escape("votes") && currentUser.escape("votes").split(",").indexOf(article.escape("id").toString()) !== -1){ %>
      <button class="disabled-favorite-button" disabled>Favorite</button>
    <% } else { %>
      <button class="favorite-button">Favorite</button>
    <% } %>
<% } %>