<h2><%= article.escape("title") %></h2>
<h4>author: <a href="<%= "#/users/" + article.escape("author_id") %>"><%= user.escape("username") %></a>, submitted <%= jQuery.timeago(article.get("created_at")) %></h4>

<% if (article.escape("photo_url") !== "/photos/big/missing.png" ){ %>
	<img src="<%= article.escape("photo_url") %>"></img>
<% } %>