<a class="scroll" id="<%= article.escape("id") %>" href="<%= "#article-" + article.escape("id") %>">
  <%= article.escape("title") %></a>
<br>
<div class="snippet-footer">
  <%= article.get("votecount") %><i class="fa fa-thumbs-o-up"></i>
  <br>
  <i class="fa fa-clock-o"></i>
  <%= " " + jQuery.timeago(article.escape("created_at")) %>
  <br>
</div>

<% if (article.get("author_id") === window.currentUserId){ %>
  <form class="delete-form">
    <input class="delete-button" type="submit" value="Delete">
  </form>
  <a class="edit-link" href="<%= "#/articles/" + article.escape("id") + "/edit"%>">Edit</a><br>
<% } %>