<a href="<%= article_url(article, view: view, el: el) %>">
  <%= article.title %></a>
<% if view == "popular" %>
	<%= article.votecount.to_s + " votes" %>
<% end %>
<br>

<%= time_ago_in_words(article.created_at) + " ago" %>
<br>

<% if view == "author" && @user == current_user %>
  <form action="<%= article_url(article) %>" method="post">
    <%= auth_token %>
    <%= hidden_method("delete") %>
    <input type="submit" value="Delete">
  </form>
  <a href="<%= edit_article_url(article) %>">Edit</a><br>
<% end %>