<li>
<a href="<%= article_url(article, view: view, el: el) %>">
  <%= article.title %></a>
<br>
<div class="snippet-footer">
  <%= article.votecount.to_s %><i class="fa fa-thumbs-o-up"></i>
  <br>
  <i class="fa fa-clock-o"></i>
  <%= " " + time_ago_in_words(article.created_at) + " ago" %>
  <br>
</div>

<% if view == "author" && @user == current_user %>
  <form action="<%= article_url(article) %>" method="post">
    <%= auth_token %>
    <%= hidden_method("delete") %>
    <input class="delete-button" type="submit" value="Delete">
  </form>
  <a class="edit-link" href="<%= edit_article_url(article) %>">Edit</a><br>
<% end %>
</li>