<li>
<a href="<%= article_url(article, view: view, el: el) %>">
  <%= article.title %></a>
<br>
<div class="snippet-footer">
  <% if view == "popular" %>
  	<%= article.votecount.to_s + " votes" %>
  <% end %>
  <br>
  <i class="fa fa-clock-o"></i>
  <%= " " + time_ago_in_words(article.created_at) + " ago" %>
  <br>
</div>

<% if view == "author" && @user == current_user %>
  <form action="<%= article_url(article) %>" method="post">
    <%= auth_token %>
    <%= hidden_method("delete") %>
    <input type="submit" value="Delete">
  </form>
  <a href="<%= edit_article_url(article) %>">Edit</a><br>
<% end %>
</li>