<% content_for :sidebar do %>
  <%= render "sidebar", view: @view, el: @el %>
<% end %>

<h2><%= @article.title %></h2>
<h3><a href="<%= user_url(@article.author_id) %>"><%= User.find(@article.author_id).username %></a></h3>
<%= simple_format(h @article.body) %>

<form action="<%= article_comments_url(@article) %>" method="post">
	<%= auth_token %>
	<input type="text" name="comment[text]">
	<input type="submit" value="Add Comment">
</form>

<% @article.comments.order(:created_at).reverse.each do |comment| %>
	<%= comment.author.username + ": " + comment.text %><br>
<% end %>

<% @article.tags.order(:name).each do |tag| %>
	<a href="<%= article_url(tag.articles.order(:created_at).reverse.first,
                    view: "tag", el: tag.name) %>"><%= tag.name%></a>
<% end %>

<% if signed_in? %>
  <form action="<%= article_votes_url(@article) %>" method="post">
    <%= auth_token %>

    <% if current_user.votes &&
       current_user.votes.map(&:article_id).include?(@article.id) %>
      <input type="submit" value="Favorite" disabled>
    <% else %>
      <input type="submit" value="Favorite">
    <% end %>
  </form>
<% end %>