<% content_for :sidebar do %>
  <%= render "sidebar", view: @view, el: @el %>
<% end %>

<h2><%= @article.title %></h2>
<h3>author: <a href="<%= user_url(@article.author_id) %>"><%= User.find(@article.author_id).username %></a></h3>
<h5>submitted <%= @article.created_at.to_formatted_s(:long_ordinal) %></h5>

<%= image_tag @article.photo.url(:big) %>

<div id="body-text">
  <% body_text = simple_format(h @article.body) %>
  <% body_text.scan("<p>").each_with_index do |p, index| %>
    <% body_text[body_text.index(p)..body_text.index(p)+2] = "<div id=\"#{index +           1}\"><p >" %>
  <% end %>
  
  <% body_text.scan("</p>").each_with_index do |p, index| %>
    <% body_text[body_text.index(p)..body_text.index(p)+3] = "</p >
	
	<div class='comment-button'>
		<i class='fa fa-comment'>		<span class='comment-count'>
			#{@article.comments.where(p_id: index+1).count}
		</span>
</i>
	</div>
	<div class='comment-box'>
		#{@article.comments.where(p_id: index+1).order(:created_at).reverse
   				   .map{ |comment| comment.author.username + ": " + comment.text }
				   .join("<br>")}
      	<form class='comment-form'
		action=\" #{article_comments_url(@article)} \" method='post'>
          	#{auth_token}
          	<input type='text' name='comment[text]'>
      		<input type='hidden' name='comment[p_id]' value='#{index+1}'>
          	<input type='submit' value='Add Comment'>
       </form>	
	</div>
	</div>" %>
  <% end %>
  
  <%= body_text %>
</div>

<% if signed_in? %>
  <form action="<%= article_votes_url(@article) %>" method="post">
    <%= auth_token %>

    <% if current_user.votes &&
       current_user.votes.map(&:article_id).include?(@article.id) %>
      <input type="submit" value="Favorite" disabled>
    <% else %>
      <input type="submit" value="Favorite">
    <% end %>
  </form>
<% end %>

<i class="fa fa-tags"></i>
<% @article.tags.order(:name).each do |tag| %>
	<a href="<%= article_url(tag.articles.order(:created_at).reverse.first,
                    view: "tag", el: tag.name) %>"><%= tag.name%></a>
<% end %>