<section class="tagbar">
	<ul class="filters">
  	  <li>
        <a href="<%= 
          article_url(Article.all
          .sort_by{ |article| article.votecount }.reverse.first, view:                    "popular", el: nil) %>">
          Popular
        </a>
      </li>
  	  <li>
        <a href="<%= 
          if signed_in?
            if current_user.favorites.count > 0
                article_url(current_user.favorites.first,
                            view: "favorite", el: nil)
              else
                static_pages_empty_url
              end
          else
            new_session_url
          end
          %>">
          Favorited
        </a>
      </li>
  	  <li>
        <a href="<%= article_url(Article.last) %>">Latest</a>
      </li>
	</ul>
	
	<ul class="tags">
	  <% Tag.all.each do |tag| %>
	    <li>
        <a href=" <%=
                    article_url(tag.articles.order(:created_at).reverse.first,
                    view: "tag", el: tag.name) %> "><%= tag.name.capitalize %>
        </a>
      </li>
	  <% end %>
  	</ul>
</section>