<ul class="search-results">
<% data.forEach(function(result){ %>
	<% if(result.title){ %>
		Article
		<li><a href="#/articles/<%= result.id %>"><%= result.title %></a></li>
	<% } %>
	
	<% if(result.username){ %>
		User
		<li><a href="#/users/<%= result.id %>"><%= result.username %></a></li>
	<% } %>
	
	<% if(result.text){ %>
		Comment
		<li><a href="#/articles/<%= result.article_id %>"><%= result.text %></a></li>
	<% } %>
<% }); %>
</ul>