<!DOCTYPE html>
<html>
<head>
  <title>Topaz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>
<link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Rosario:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  
  
  <script>
	  <% if signed_in? %>
		  window.currentUserId = <%= current_user.id %>
	  <% end %>
  </script>
  
</head>
<body>
	
  <%= render "shared/navbar" %>
  <%= render "shared/tagbar" %>
  
  <section class="main">
    <section class="sidebar">
      <%= yield :sidebar %>
    </section>
    <section class="page">
      <%= render "shared/flash" %>
      <div id="content">
        <%= yield %>
      </div>
    </section>
  </section>

</body>
</html>