<!DOCTYPE html>
<html>
<head>
  <title>Topaz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  
<link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  
  
  <script>
	  <% if signed_in? %>
		  window.currentUserId = <%= current_user.id %>
	  <% end %>
	  	  
	  window.showModal = function(){
	    $("#modal").fadeIn("fast");
	  }

	  window.hideModal = function(){
	    $("#modal").fadeOut("fast");
	  }
	  
	  <% if !flash.empty? && flash[:errors].include?("Invalid credentials") %>
	  $(document).ready(function(){
		  window.showModal();
		  $(".modal-content").prepend("<span id='alert'>Invalid credentials!</span>");
		  $(".modal-content").addClass("errors");
	  });
	  <% end %>
	  
  </script>
  
</head>
<body>
	
  <%= render "shared/navbar" %>
  <%= render "shared/tagbar" %>
  
  <section class="main">
    <section class="sidebar">
      <%= yield :sidebar %>
    </section>
    <section class="page">
      <div id="content">
        <%= yield %>
      </div>
    </section>
	<div id="page-modal"></div>
	<div id="scroll-modal"></div>
  </section>
  
  <section id="modal" class="modal">
    <article class="modal-content">
      <span class="modal-x hide-modal">&times;</span>
	  <h1>Sign In</h1>
	  <%= render "shared/user", action: "sign_in" %>
    </article>
    <div class="modal-screen hide-modal"></div>
  </section>

</body>
</html>