<!DOCTYPE html>
<html>
<head>
  <title>Topaz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>
<body>

  <%= render "shared/navbar" %>
  <%= render "shared/tagbar" %>
  
  <section class="main">
    <section class="sidebar">
      <%= yield :sidebar %>
    </section>
    <section class="page">
      <%= render "shared/flash" %>
      <%= yield %>
    </section>
  </section>

</body>
</html>